/**Reset**/
h1, h2, h3, h4, h5, h6, a, li, p {
    font-family:'微軟正黑體','Arial';
}
html, body, header, footer, div {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
}
body {
    background-color:#f7f7f7;
}
.wrapper {
    width:90%;
    height:auto;
    margin: 0 auto;
    padding: 5px 0px;
    box-sizing:border-box;
}
input[type='file'] {
    width:190px;
}
input[type='reset'], input[type='submit'] {
     width:40%;
     background:#bbb;
     border:none;
     line-height: 40px;
     font-size: 20px;
     color: #333;
     margin:5px 10px;
     font-family:Arial ,'微軟正黑體';
}
input[type='reset']:hover, input[type='submit']:hover {
    background:#2cb72a;
    color:#fff;
}

/*header setting*/
header {
    width:100%;
    background-color: #2cb72a;
    height:50px;
    position:fixed;
    box-shadow:0px 1px 15px #333;
    z-index:10;
    top:0px;
}
header a {
    color:#fff;
    font-weight:bold;
    line-height:50px;
}
header a:hover {
    color:#333;
}
header .logo {
    float: left;
    background:url('../img/JustPhoto_logo.png') no-repeat left 50%;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;        
    display:inline-block;
    width:15%;
    max-width:160px;
    min-width:65px;
    height:auto;
    text-indent: -9999px;
}
header .logo:hover {
    background:url('../img/JustPhoto_logo_o.png') no-repeat left 50%;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;        
}
header #accOpt { /*靠右*/
    text-align: right;
    position:relative;
    float: right;
    width: 70%;
    margin-right: 5%;
}
header #headPicture {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: none;
    margin: 7px 5px;
}
header #account,header #logout{
    margin: 0 5px;
    top:-18px;
    position:relative;
    font-size:0.9em;
}
 /*footer setting*/
footer {
    width:100%;
    background:#888;
    position:fixed;
    bottom:0;
    height:45px;
}
footer p {
    color:#eee;
    text-align:center;
    font-size:1em;
    line-height:45px;
    margin:0;
}
/*content setting*/
#content {
    width:100%;
}
/*personal page setting*/
.personalBar {
    width: 100%;
    height: 230px;
}
.personalBar #description {
    color: #fff;
    font-family: Arial , '微軟正黑體';
    font-size:1em;
    font-weight:normal;
    position:absolute;
    overflow:hidden;
    bottom:240px;
}
.personalBar .personBlock {
    height: 120px;
    width: 100%;
    text-align: right;
    right: 5%;
    position: absolute;
    top: 85px;
    z-index:5;
}
.personalBar #headPic {
    width: 120px;
    height: 120px;
    border: 1px solid #333;
    padding: 10px;
    position: relative;
    z-index: 10;
    margin-left: 0px;
    background: #fff;
    box-sizing:border-box;
}
.personalBar #name {
    color: #333;
    font-size: 20px;
    font-family: Arial , '微軟正黑體';
    top:-15px;
    position:relative;
    text-align:right;
    margin-right:1%;
}
.personalBar .grayBar {
    width: 100%;
    height: 145px;
    background: #515151;
}
.personalBar .whiteBar {
    width: 100%;
    height: 85px;
    background: #fff;
}
/********************content block setting**********************/
.block {
    width: 720px;
    height: 480px;
    border: 2px solid #000;
    margin: 50px auto;
    padding: 40px;
    box-sizing:border-box;
    background:#fff;
}
.block #photo {
    width: 640px;
    height: 360px;
}
.block #user {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: none;
    margin: 20px 10px 0px 0px;
    background: #333;
}
.block #userName {
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.block #photoName {
    color: #707070;
    font-size: 20px;
    font-weight:normal;
    font-family: AArial,'微軟正黑體';
    padding-left:20px;
}
/*login signup page setting*/
#loginBlock {
    width:260px;
    height:300px;
    margin:7% auto;
    font-family:Arial;
    padding:10px 15px 30px 15px;
    background:#fff;
}
#loginBlock tr td{
    height:70px;
    vertical-align:bottom;
}
#loginBlock th {
    font-size:1.5em;
    color:#333;
    height:50px;
    border-bottom:1px solid #eee;
}
#loginBlock input {
    width:160px;
    line-height:30px;
    padding:0px 7px;
}
#loginBlock input[type="submit"] {
    width:100%;
    background:#bbb;
    border:none;
   line-height: 40px;
   font-size: 20px;
   color: #333;
}
#loginBlock input[type="submit"]:hover {
    background:#2cb72a;
    color:#fff;
}
#uploadBlock {
    font-family:Arial,'微軟正黑體';
    width:275px;
    margin:13% auto;
    font-family:Arial;
    padding:10px 15px 30px 15px;
    background:#fff;
}
#uploadBlock th {
    width:100%;
    text-align:center;
    font-size:1.5em;
    color:#333;
    height:50px;
    border-bottom:1px solid #eee;
}
#uploadBlock tr {
    height: 50px;
    width:auto;
}
#uploadBlock td {
    width:100%;
}
